<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidkotlin">

    <application
        android:name=".injection.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo_l_one"
        android:label="Application Eliott L1"
        android:roundIcon="@drawable/logo_l_one"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidKotlin">
        <activity android:name=".presentation.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.newAccount.NewAccountActivity">
        </activity>
        <activity android:name=".presentation.application.MenuActivity">
        </activity>
        <activity android:name=".presentation.application.ClubActivity">
        </activity>
        <activity android:name=".presentation.application.ClassementActivity">
        </activity>
    </application>
</manifest>